{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "env": {
        "es6": true,
        "node": true,
        "mocha": true
    },
    "rules": {
        // disable rules from base configurations
        "linebreak-style": "off"
    }
}
